.book-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.book-card:hover {
  transform: scale(1.05); /* Scale up on hover */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

/* Modal Animation */
.modal-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}
